<div class="conatiner">
  <div class="jumborton text-center">
    <h1>MEAN App</h1>
    <p class="lead">
      Welcome to the Mean App, which is built with MongoDB, Angular 2 , Express and Node JS. Here the user can register and if existing user, they can
      directly login. The routes are protected using the JWT Tokens. We also enabled the CORS as we need to interact between the front end and back end
      which will be run on different ports.
    </p>

<div>
<a class="btn btn-primary"  [routerLink]="['/register']">Register</a>
<a class="btn btn-primary"  [routerLink]="['login']">Login</a>
  </div>
  </div>
